# **exercicios ~**

In [1]:
import math
from math import log

**exercicio 2.1 operacoes basicas**

In [2]:
x = float(input('digite o primeiro numero: '))
y = float(input('digite o segundo numero: '))

prod = x*y
inteira = x//y
rest = x%y
elev = x**y

print(f'produto: {prod}, parte inteira: {inteira}, resto: {rest}, elevado: {elev}', sep='\n')

digite o primeiro numero:  4
digite o segundo numero:  3

produto: 12.0, parte inteira: 1.0, resto: 1.0, elevado: 64.0

**exercicio 2.2 uma bola que cai de uma torre**

In [3]:
h = float(input('digite a altura da torre em metros: '))
t = float(input('digite o tempo de queda, em segundos: '))
g = 9.81

y = h - (g/2)*(t**2)

print(f'a altura atual da bola é de {y} metros')

digite a altura da torre em metros:  40
digite o tempo de queda, em segundos:  2

a altura atual da bola é de 20.38 metros

**exercicio 2.3 convertendo as coordenadas polares para cartesianas**

In [4]:
r = float(input('digite o valor de r: '))
theta_ang = float(input('digite o valor do angulo em graus: '))

theta_rad = math.pi*theta_ang/180

x = r*math.cos(theta_rad)
y = r*math.sin(theta_rad)

print(f'o valor de x é {x} e o valor de y é {y}')

digite o valor de r:  30
digite o valor do angulo em graus:  30

o valor de x é 25.98076211353316 e o valor de y é 14.999999999999998

**exercicio 2.4 determinando se um numero é par ou impar**

In [5]:
num = int(input('digite um numero: '))

if(num%2==0):
  print('o numero é par')
else:
  print('o numero é impar')

digite um numero:  8

o numero é par

**exercicio 2.5 serie de fibonacci**

In [6]:
anterior = 1
num = 1

print(anterior)

while(num < 1000):
  print(num)

  provisorio = anterior
  anterior = num
  num += provisorio

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

**exercicio 2.6 trabalhando com lista**

In [7]:
lista = range(1, 20, 2)

print(f'a) soma: {sum(lista)} e numero de elementos: {len(lista)} \n')
print(f'b) maior: {max(lista)} e menor: {min(lista)} \n')
print(f'c) valor medio dos elementos: {sum(lista)/len(lista)} \n')

lista_log = list(map(log, lista))

print(f'd) lista: {lista_log}')

a) soma: 100 e numero de elementos: 10

b) maior: 19 e menor: 1

c) valor medio dos elementos: 10.0

d) lista: [0.0, 1.0986122886681098, 1.6094379124341003, 1.9459101490553132, 2.1972245773362196, 2.3978952727983707, 2.5649493574615367, 2.70805020110221, 2.833213344056216, 2.9444389791664403]

# **problemas opcionais ~**

**exercicio 2.7 altitude de um satélite**

In [8]:
G = 6.67e-20   # Km3/ Kg s2
R = 6371       # Km
M = 5.97e24    # Kg

T_dias = float(input('digite o valor do periodo T em dias: '))
T_sec = T_dias*24*3600

T90 = 90*60
T45 = T90/2

h = (((G*M*T_sec**2)/(4*math.pi**2))**(1/3))-R
h90 = (((G*M*T90**2)/(4*math.pi**2))**(1/3))-R
h45 = (((G*M*T45**2)/(4*math.pi**2))**(1/3))-R

print(f'b) valor de h: {h:.2f} Km \nc) h em 90min :{h90:.2f} Km e h em 45min:{h45:.2f} Km')

digite o valor do periodo T em dias:  1

b) valor de h: 35855.91 Km
c) h em 90min :279.32 Km e h em 45min:-2181.56 Km

In [9]:
Tdia = 24*60*60
T90 = 90*60
T45 = 45*60
Tdia_sideral = 23.93*60*60

hdia = ((G*M*Tdia**2)/(4*math.pi**2))**(1/3)-R
h90 = ((G*M*T90**2)/(4*math.pi**2))**(1/3)-R
h45 = ((G*M*T45**2)/(4*math.pi**2))**(1/3)-R
hdia_sideral = ((G*M*Tdia_sideral**2)/(4*math.pi**2))**(1/3)-R

print(f'c) para 24h, temos h: {hdia:,.2f} Km, \npara 90min h: {h90:,.2f} Km e \npara 45min h: {h45:,.2f} Km')

c) para 24h, temos h: 35,855.91 Km,
para 90min h: 279.32 Km e
para 45min h: -2,181.56 Km

**exercicio 2.8 orbitas planetarias**

In [10]:
G = 6.6738e-11   # m3/ Kg s2
M = 1.9891e30    # Kg

# Terra
# v1 = 3.0287e4
# l1 = 1.4710e11

# Cometa Halley
v1 = 5.4529e4
l1 = 8.7830e10

a = 1
b = -(2*G*M)/(v1*l1)
c = -(v1**2-(2*G*M)/(l1))

v2_1 = (- b + math.sqrt(b**2-(4*a*c)))/(2*a)
v2_2 = (- b - math.sqrt(b**2-(4*a*c)))/(2*a)

if(v2_1<v2_2):
  v2 = v2_1
else:
  v2 = v2_2

l2 = (l1*v1)/v2
a = (1/2)*(l1+l2)
b = math.sqrt(l1*l2)

T = (2*math.pi*a*b)/(l1*v1)
e = (l2-l1)/(l2+l1)

T_anos = T/(60*60*24*365.25)

print(f'l2: {l2:.2e} metros,\nv2: {v2/1000:.2f} Km/s,\nT: {T_anos:.2f} anos e\ne: {e:.4f}')

l2: 5.28e+12 metros,
v2: 0.91 Km/s,
T: 76.03 anos e
e: 0.9673

**exercicio 2.9 numeros de Catalan**

In [11]:
cn1 = 1
n = 0

while(cn1<1e9):
  print(cn1)
  n += 1

  cn1 = cn1*(4*n+2)/(n+2)

1
2.0
5.0
14.0
42.0
132.0
429.0
1430.0
4862.0
16796.0
58786.0
208012.0
742900.0
2674440.0
9694845.0
35357670.0
129644790.0
477638700.0